<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InstagramFirebase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>745BD42520ADD9B0005D574D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>745BD43920ADD9B0005D574D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>745BD44420ADD9B0005D574D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
